<main id="forum-container">
    <section id="forum-new-post-container" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <%= form_for @question, url: {action: "create"}, html: {class: "forum-form-row col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"} do |f| %>
            <div class="row forum-form-row">
                <div class="forum-form-label">
                    <%= label_tag(:title, "Title") %>
                </div>
                <div class="forum-form-value">
                    <%= f.text_field :title %>
                </div>
            </div>
            <div class="row forum-form-row">
                <div class="forum-form-label">
                    <%= label_tag(:category, "Category") %>
                </div>
                <div class="forum-form-value">
                    <%= f.select(:category) do %>
                      <% ['Shelter/Food', 'Medical Advice','Education/Training', 'Job'].each do |option|%>
                        <%= content_tag(:option, option, value: option) %>
                      <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row forum-form-row">
                <div class="forum-form-label">
                    <%= label_tag(:content, "Content") %>
                </div>
                <div class="forum-form-value">
                    <%= text_area_tag(:content) %>
                </div>
            </div>
            <div class="row forum-form-row col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <%= f.submit "Create", {:class =>"btn btn-primary"} %>
            </div>
        <% end %>
    </section>
</main>