    <%= render 'layouts/title', title: "Question - No."+@question.id.to_s %>
    <section>
        <div id="forum-new-answer-container" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-md-offset-3">


            <div class="row">
                Title: <%= @question.title %>
            </div>
            <div class="row">
                Ticket ID: <%= @question.ticket_id %>
            </div>
            <div class="row">
                Content
                </br>
                 <%= @question.content %>
            </div>
        
        <% if authenticated? %>
            <%= form_for @answer, :url => answers_path do |f| %>
                </br>
                </br>
                <%= label_tag(:content, "Answer") %>
                <%= text_area_tag "answer[content]" %>
                <%= hidden_field_tag "question_id", @question.id %>
                </br>
                </br>
                <%= f.submit "Answer Question", class:"btn btn-primary pull-right" %>
            <% end %>
        <% end %>
        
        <section>
            <% @answers.each do |answer| %>
                <div class="row forum-question-answer">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        By <%= answer.user.name %>
                        </br>
                        <%= answer.content %>
                        </br>
                        </br>
                        <% if authenticated? %>
                            
                            <%= link_to "Helpful", like_path(answer_id: answer.id), class:"btn btn-primary" %>
                            <%= link_to "Report", report_path(answer_id: answer.id), class:"btn btn-danger" %>
                        <% end %>
                    </div>
                    <div class="answer-likes col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <%= answer.like %>
                    </div>
                </div>
            <% end %>
        </section>
        </div>
    </section>
</main>