<!-- Full Page Image Background Carousel Header -->
<%= render 'layouts/carousel' %>

<a  name="interest"></a>
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="container" style="text-align: center">
			    </br></br>
			    <a name="interest"></a>
			    </br>
				<h2>Your areas of interest</h2>
				<p>We can help you discover important information</p>
				</br></br>
			</div>
		</div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding shelters for you", shelter_path, :class=>"section-heading" %></h2>
                        <p class="lead">There is currently no backlog of Syrians awaiting registration. Syrians can now register with UNHCR at its centres in Irbid and Amman upon first contact the same day. </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding food for you", food_path, :class=>"section-heading" %></h2>
                        <p class="lead">A massive food distribution operation is underway in northern Lebanon to assist refugees fleeing from neighbouring Syria.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "food.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Providing health care to you", health_path, :class=>"section-heading" %></h2>
                        <p class="lead">International Medical Corps has had teams on the ground providing direct medical assistance to Syrian refugees in Iraq, Jordan, Lebanon and Turkey.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "health.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Looking for your family", family_path, :class=>"section-heading" %></h2>
                        <p class="lead">According to the United Nations, some two million Syrians have sought refuge abroad — mostly in neighboring countries — since the conflict began three years ago. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "family.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Educate yourself", education_path, :class=>"section-heading" %></h2>
                        <p class="lead">Schooling hopes have been raised for hundreds of thousands of Syrian children, thanks to a major new education drive.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "education.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Starting your new career", career_path, :class=>"section-heading" %></h2>
                        <p class="lead">The International Labour Organisation intervention will mainly provide technical support for the design of local economic development initiatives and rapid employment creation interventions. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "career.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row header">
            <a  name="donate"></a>
			<div class="container" style="text-align: center">
			    </br>
			    <hr class="section-heading-spacer">
				<h2>Become a service provider</h2>
				<p>Donate!</p>
				</br></br></br>
			</div>
		</div>
    </div>
</div>

<a  name="faq"></a>
<div class="container">
	</br></br>
	<h1>FAQ</h1>
    <div class="FAQ">
		<table>
		  <tr>
		  	<td>Questions</td>
		  	
		  </tr>
		  <% @questions.each do |question| %>
		    <tr>
		      <td><%= question.title %></td>
		      <td><%= question.view %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
	
	
</div>
