<!-- Full Page Image Background Carousel Header -->
</br>
<section class="row main-wrapper">
    <div id="main-container" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="main-background">
            <%= link_to new_question_path do %>
            <div class="link-container col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1 col-md-offset-1">
                <p>Ask a Question</p>
            </div>    
            <%end%>
            <%= link_to answered_path do %>
            <div class="link-container col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <p>See Answered Questions</p>
            </div>
            <% end %>
        </div>
    </div>
</section>
<a  name="interest"></a>
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="container" style="text-align: center">
			    </br></br>
			    <a name="interest"></a>
			    </br>
				<h1>Your areas of interest</h1>
				<h4>We can help you discover important information</h4>
				</br></br>
			</div>
		</div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding shelters for you", shelter_path, :class=>"section-heading" %></h2>
                        <p class="lead">There is currently no backlog of Syrians awaiting registration. Syrians can now register with UNHCR at its centres in Irbid and Amman upon first contact the same day. </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding food for you", food_path, :class=>"section-heading" %></h2>
                        <p class="lead">A massive food distribution operation is underway in northern Lebanon to assist refugees fleeing from neighbouring Syria.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "food.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Providing health care to you", health_path, :class=>"section-heading" %></h2>
                        <p class="lead">International Medical Corps has had teams on the ground providing direct medical assistance to Syrian refugees in Iraq, Jordan, Lebanon and Turkey.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "health.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Looking for your family", family_path, :class=>"section-heading" %></h2>
                        <p class="lead">According to the United Nations, some two million Syrians have sought refuge abroad — mostly in neighboring countries — since the conflict began three years ago. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "family.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Educate yourself", education_path, :class=>"section-heading" %></h2>
                        <p class="lead">Schooling hopes have been raised for hundreds of thousands of Syrian children, thanks to a major new education drive.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "education.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Starting your new career", career_path, :class=>"section-heading" %></h2>
                        <p class="lead">The International Labour Organisation intervention will mainly provide technical support for the design of local economic development initiatives and rapid employment creation interventions. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "career.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        </br></br>
        <a  name="faq"></a>
        <div class="container">
	    <hr class="section-heading-spacer"></br>
	    <center><h1>Frequently asked questions</h1></center>
        <main id="forum-container">
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <table class="table table-striped table-hover ">
                <thead class="forum-question-row">
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Title</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Description</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Views</th>
                </thead>
                <% len = [@questions.length, 10].min
                @questions[0..len].each do |question| %>
                    <tr class="forum-question-row">
                        <td class="forum-question-title"><%= question.title %></td>
                        <% if question.content %>
                            <% cl = [question.content.length, 30].min %>
                        <% else %>
                            <% cl = 0 %>
                        <% end %>
                        <td class="forum-question-ticket-id"><%= question.content[0..cl] %>...</td>
                        <td class="forum-question-timestamp"><%= question.view %></td>
                        <td><%= link_to "View Answers", question, {class:"btn btn-primary"} %></td>
                    </tr>
                <% end %>
            </table></br>
        </section>
    </div>
</main>
</br></br>
    <div class="row header">
        <a  name="donate"></a>
		<div class="container" style="text-align: center"></br>
			<hr class="section-heading-spacer">
			<h2>Become a service provider</h2>
			<p><%= link_to 'Donate!', donate_path %></p></br></br></br>
			</div>
		</div>
    </div>
</div>
