<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/9/4/1441377592716/Refugees-Budapest-009.jpg?w=1920&q=85&auto=format&sharp=10&s=67a9872842f591a3c2d3a91dce39eb7e');"></div>
            <div class="carousel-caption">
                <h3>Refugee Crisis in Europe</h3>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://america.aljazeera.com/content/dam/ajam/images/articles/Syria_Refugee_101713.jpg');"></div>
            <div class="carousel-caption">
                <h3>Syrian Refugees</h3>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://www.zerohedge.com/sites/default/files/images/user3303/imageroot/20150903_refugee.jpg');"></div>
            <div class="carousel-caption">
                <h3>European Refugee Crisis "Out of Control"</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<a  name="services"></a>
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="container" style="text-align: center">
			    </br>
				<h2>Your areas of interests</h2>
				<p>You can help you find what you need.</p>
				</br></br></br>
			</div>
		</div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Finding Shelters For You</h2>
                        <p class="lead"></p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Finding Shelters For You</h2>
                        <p class="lead"></p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Finding Shelters For You</h2>
                        <p class="lead"></p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row header">
			<div class="container" style="text-align: center">
			    </br>
				<h2>Become a Service Provider</h2>
				<p>donate!!!!</p>
				</br></br></br>
			</div>
		</div>
    </div>
</div>
<div class="container">
    <div class="health">
		<%= link_to image_tag("health"), health_path %>
		<p>Health</p>
	</div>

    <div class="shelter">
		<%= link_to image_tag("shelter"), shelter_path %>
		<p>Shelter</p>
	</div>
	
	<div class="food">
		<%= link_to image_tag("food"), food_path %>
		<p>Food</p>
	</div>
    
	<div class="family">
		<%= link_to image_tag("family"), family_path %>
		<p>Family</p>
	</div>

</div>

<div class="container">
	
	<h1>FAQ</h1>
    <div class="FAQ">
		<table>
		  <tr>
		  	<td>Questions</td>
		  	
		  </tr>
		  <% @questions.each do |question| %>
		    <tr>
		      <td><%= question.title %></td>
		      <td><%= question.view %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
	
	
</div>
