<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://america.aljazeera.com/content/dam/ajam/images/articles/Syria_Refugee_101713.jpg');"></div>
            <div class="carousel-caption">
                <h1 style="text-align: center; font-weight: bold">Help your fellow refugee friends</h1>
                <h3 style="text-align: center; padding-bottom: 20px" >And make the world a better place!</h3>
                <li style="padding-bottom: 200px"><%= link_to "Ask a question", new_question_path, :class=>"btn btn-primary" %>
                <%= link_to "See answered questions", answered_path, :class=>"btn btn-default" %></li>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
    <!--    <span class="icon-prev"></span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
    <!--    <span class="icon-next"></span>-->
    <!--</a>-->
</header>
<a  name="interest"></a>
<div id="features">
	<div class="container">
		<div class="row header">
			<div class="container" style="text-align: center">
			    </br></br>
			    <a name="interest"></a>
			    </br>
				<h1>Your areas of interest</h1>
				<h4>We can help you discover important information</h4>
				</br></br>
			</div>
		</div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding shelters for you", shelter_path, :class=>"section-heading" %></h2>
                        <p class="lead">There is currently no backlog of Syrians awaiting registration. Syrians can now register with UNHCR at its centres in Irbid and Amman upon first contact the same day. </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src="http://www.thenational.ae/storyimage/AB/20150324/ARTICLE/150329492/AR/0/&MaxW=640&imageVersion=default&AR-150329492.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Finding food for you", food_path, :class=>"section-heading" %></h2>
                        <p class="lead">A massive food distribution operation is underway in northern Lebanon to assist refugees fleeing from neighbouring Syria.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "food.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Providing health care to you", health_path, :class=>"section-heading" %></h2>
                        <p class="lead">International Medical Corps has had teams on the ground providing direct medical assistance to Syrian refugees in Iraq, Jordan, Lebanon and Turkey.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "health.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Looking for your family", family_path, :class=>"section-heading" %></h2>
                        <p class="lead">According to the United Nations, some two million Syrians have sought refuge abroad — mostly in neighboring countries — since the conflict began three years ago. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "family.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Educate yourself", education_path, :class=>"section-heading" %></h2>
                        <p class="lead">Schooling hopes have been raised for hundreds of thousands of Syrian children, thanks to a major new education drive.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "education.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2><%= link_to "Starting your new career", career_path, :class=>"section-heading" %></h2>
                        <p class="lead">The International Labour Organisation intervention will mainly provide technical support for the design of local economic development initiatives and rapid employment creation interventions. </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive home-pic" src=<%= asset_path "career.jpg" %> alt="">
                    </div>
                </div>
            </div>
        </div>
        </br></br>
        <a  name="faq"></a>
        <div class="container">
	    <hr class="section-heading-spacer"></br>
	    <center><h1>FAQs</h1></center>
        <main id="forum-container">
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <table class="table table-striped table-hover ">
                <% len = [@questions.length, 10].min
                @questions[0..len].each do |question| %>
                    <tr class="forum-question-row">
                        <td><%= link_to question.title, question, {class:"forum-question-title"} %></td>
                    </tr>
                <% end %>
            </table></br>
        </section>
    </div>
</main>
</br></br>
    <div class="row header">
        <a  name="donate"></a>
		<div class="container" style="text-align: center"></br>
			<hr class="section-heading-spacer">
			<h2><%= link_to 'Become a service provider', services_path %></h2>
			<h3><%= link_to 'Donate!', donate_path %></h3></br></br></br>
			</div>
		</div>
    </div>
</div>
