<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
  	<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    		</button>
    
    		<%= link_to 'Refugee Helper', root_path, {:class=>"navbar-brand"} %></div>
    
    <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Ask question', new_question_path %></li>
      </ul>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
  		<form class="navbar-form pull-left" role="search" method="get" id="searchform" action="http://localhost:8080/test/">
  		<div class="input-group">
  			<!--<div class="input-group-btn">
  				<button type="button" id="searchcategory" value="BLOG" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">BLOG <span class="caret"></span></button>
  
      				<ul id="searchdropdown" class="dropdown-menu" role="menu">
        					<li><a href="javascript:void(0)">BLOG</a></li>
        					<li><a href="javascript:void(0)">FORUM</a></li>
        					<li><a href="javascript:void(0)">DOCS</a></li>
    					<li class="divider"></li>
        					<li><a href="javascript:void(0)">ANY</a></li>          
      				</ul>
  			</div>-->
  			<input type="text" class="form-control" value="" placeholder="Search..." name="s" id="s" size="50">
  			<div class="input-group-btn">
  				<button type="submit" id="searchsubmit" value="Search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
  			</div>
  		</div>
  		</form>
		  <ul class="nav navbar-nav navbar-right">
		    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Areas of interest', '/#interest' %></li>
            <li><%= link_to 'Donate', '/#donate' %></li>
            <li><%= link_to 'FAQ', '/#faq' %></li>
          </ul>
        </li>
        <% if current_user %>
          <li><%= link_to 'Profile', profile_path %></li><li><%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li><li><%= link_to 'Register', '/signup' %></li>
        <% end %>
      </ul>
      </div><!-- /.navbar-header -->
  	<!--<div class="collapse navbar-collapse upper-navbar">    	 -->
  	<!--	<ul id="menu-topmenu" class="nav navbar-nav navbar-right">-->
  	<!--		<li id="menu-item-1"><a href="#one">Profile</a></li>-->
  	<!--	</ul>	  -->
   <!--	</div><!-- /.navbar-collapse -->
	</div>
</nav>
